[Unit]
Description=Overlay network route for Wireguard
After=wg-quick@wg0.service

[Service]
Type=oneshot
User=root
ExecStart=/sbin/ip route add ${service_cidr} dev ${vpn_interface} src ${address}

[Install]
WantedBy=multi-user.target