# DNS Settings
# Delete the DNS module in main.tf if you do not have these
create_zone = "true"
domain = "<required>"
digitalocean_token = "<required>"

k3s_version = "v1.21.1+k3s1"
node_count = 2
vultr_api_key = "<required>"

enable_volumes           = "false"
volume_size              = 10
enable_floatingip        = "false"

# Additional apps
install_app = {
  kubernetes_dashboard = false,
  longhorn             = false,
  floating-ip          = false,
  vault                = false,
  trow                 = false,
  superset             = false,
  sentry               = false,
  kube_prometheus      = false,
  elastic_cloud        = false
}
# HA Cluster
#ha_cluster = "true"
# External DNS Management and WildCard Letsencrypt Certs
#trform_domain = "false"
# LetsEncrypt Cert Issuance 
#create_certs = "true"

