# DNS Settings
# Delete the DNS module in main.tf if you do not have these
create_zone = "true"
domain = "<required>"
digitalocean_token = "<required>"

k3s_version = "v1.17.5+k3s1"
node_count = 2
vultr_api_key = "<required>"

# HA Cluster
#ha_cluster = "true"
# External DNS Management and WildCard Letsencrypt Certs
#trform_domain = "false"
# LetsEncrypt Cert Issuance 
#create_certs = "true"
# Additional Apps
#install_app = { kubernetes_dashboard = true, longhorn = true}