# DNS Settings
# Delete the DNS module in main.tf if you do not have these
create_zone = "true"
domain = "<required>"
digitalocean_token = "<required>"

k3s_version = "v1.17.5+k3s1"
node_count = 2
scaleway_access_key = "<required>"
scaleway_secret_key = "<required>"
scaleway_organization_id = "<required>"
cni = "calico"
# ScaleWay's Public IP's are NATted to the instance, hence one must use the following;
# 1. Traefik ServiceLB
# 2. Traefik Deployment with HostPort
# 3. Use Instance Private IP with MetalLB.
# Here we use option 1
loadbalancer = "traefik"