# DNS Settings
# Delete the DNS module in main.tf if you do not have these
create_zone = "true"
domain = "<required>"

google_credentials_file = "<required>"
google_project = "<required>"
google_region = "<required>"
google_region_zone = "<required>"

k3s_version = "v1.17.5+k3s1"
node_count = 3
cni = "weave"
google_image = "ubuntu-os-cloud/ubuntu-2004-focal-v20201111"
# HA Cluster
#ha_cluster = "true"
# External DNS Management and WildCard Letsencrypt Certs
#trform_domain = "false"
# LetsEncrypt Cert Issuance 
#create_certs = "true"
# Additional Apps
#install_app = { kubernetes_dashboard = true, longhorn = true}