# DNS Settings
# Delete the DNS module in main.tf if you do not have these
create_zone = "true"
domain = "<required>"

client_id = "<required>"
client_secret = "<required>"
tenant_id = "<required>"
subscription_id = "<required>"

k3s_version = "v1.20.4+k3s1"
node_count = 3
cni = "weave"
azure_image = "20.04-LTS"
azure_size = "Standard_B1ms"
enable_volumes           = "false"
volume_size              = 10
enable_floatingip        = "false"

# Additional apps
install_app = {
  kubernetes_dashboard = false,
  longhorn             = false,
  ip-floater           = false,
  vault                = false,
  trow                 = false,
  superset             = false,
  sentry               = false,
  kube_prometheus      = false,
  elastic_cloud        = false
}
# HA Cluster
#ha_cluster = "false"
# External DNS Management and WildCard Letsencrypt Certs
#trform_domain = "false"
# LetsEncrypt Cert Issuance 
#create_certs = "true"

